/* Main content */
main {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* Main article */
article {
  margin: 80px auto 200px auto;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

article section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 600px;
}

article a {
  font-weight: 600;
  font-size: 40px;
  margin: 0 auto;
}

article h2 {
  color: #18181b;
  font-size: 60px;
  margin: 20px 0 50px 0;
  font-weight: 800;
}

article p {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 50px;
  color: #27272a;
}

/* Article limits section */
article.no-limits img {
  max-width: min(55%, 600px);
  margin: 0 0 0 100px;
  border-radius: 20px;
  box-shadow: 4px 8px 12px #921ebb;
}

/* Article returns section */
article.returns section {
  align-items: flex-end;
}

article.returns p {
  text-align: right;
}

article.returns img {
  margin: 0 100px 0 0;
  width: 400px;
  filter: drop-shadow(4px 8px 12px #921ebb);
}

@media screen and (max-width: 1400px) {
  /* Main content */
  main {
    width: 90%;
  }

  /* Article content */
  article {
    flex-direction: column;
    align-items: center;
  }

  article section {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  article h2 {
    font-size: 60px;
  }

  article p {
    min-width: 0;
    max-width: 700px;
    font-size: 28px;
  }

  article a {
    font-size: 35px;
  }

  /* Article limits section */
  article.no-limits img {
    margin: 40px 0;
    max-width: min(100%, 600px);
  }

  /* Article returns section */
  article.returns {
    flex-direction: column-reverse;
    margin: 100px auto;
  }

  article.returns section {
    align-items: center;
  }

  article.returns p {
    text-align: center;
  }

  article.returns img {
    margin: 40px 0;
    max-width: min(100%, 500px);
  }
}
