/* Total body */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: white;
  min-width: 600px;
}

/* All a tags */
a {
  text-decoration: none;
  color: white;
}

/* Link that is not ignore whilst being hovered */
.link:not(.ignore):hover {
  text-shadow: 0px 0px 16px rgba(156, 46, 196, 0.4);
  transition: all 0.1s ease 0s;
}

/* Normal button */
.button {
  background-color: #921ebb;
  padding: 10px 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px 2px rgba(189, 15, 219, 0.2);
  transition: all 0.2s ease 0s;
}

.button:hover {
  background-color: #9c2ec4;
}

/* Tall button */
.button-tall {
  background-color: #921ebb;
  padding: 20px 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px 2px rgba(189, 15, 219, 0.2);
  transition: all 0.2s ease 0s;
}

/* Tall button with dark shadow */
.button-tall:hover {
  background-color: #9c2ec4;
}

.button-tall-dark {
  background-color: #921ebb;
  padding: 20px 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px 2px rgba(153, 60, 208, 0.5);
  transition: all 0.2s ease 0s;
}

.button-tall-dark:hover {
  background-color: #9c2ec4;
}

/* Purple bar in main sections */
.bar {
  height: 15px;
  width: 15%;
  background-color: #921ebb;
}
