---
import {logEvent} from "../../../scripts/analytics.ts";

const {href, name, category} = Astro.props;
const canonical = Astro.canonicalURL;
---

<a href={href} onclick={
    () => logEvent("link_click", category, canonical + "_to_" + href + "_named_'" + name + "'")
}><slot /></a>