---
import LinkWrapper from "../LinkWrapper/index.astro";

const {href, name} = Astro.props;
---

<LinkWrapper href={href} name={name}>
    <span class="text-white text-2xl font-medium"><slot /></span>
</LinkWrapper>