---
import Wrapper from "../Wrapper/index.astro";
---

<Wrapper>
    <div class="flex flex-col items-start space-y-12 xl:pt-24" style="min-width: 400px">
        <div class="pb-6 border-b-2 border-b-neutral-400 border-opacity-5">
            <h3 class="text-white font-bold text-3xl">Leverage To The <span class="text-fuchsia-500">Extreme</span></h3>
            <p class="text-xl text-neutral-400 font-medium mt-5 w-11/12">
                Crypto is all about freedom, so why should you be restricted when margin trading?
            </p>
            <p class="text-xl text-neutral-400 font-medium mt-5 w-11/12">
                While we advise against taking such risky positions, our protocol will let you
                <span class="text-neutral-300">leverage up to a maximum of roughly 82x</span>.
            </p>
        </div>
        <a class="text-2xl px-6 py-3 rounded-xl bg-fuchsia-700 hover:bg-fuchsia-600 text-white font-bold glow" href="https://app.torque.money/"
            >Leverage Now</a
        >
    </div>
</Wrapper>