---

---

<div class="bg-neutral-800 bg-opacity-30 border-t-8 border-opacity-60 border-fuchsia-700 mt-24 py-32">
    <main class="w-4/5 mx-auto flex flex-col items-center space-y-48">
        <slot />
    </main>
</div>