---
import Nav from "./Nav/index.astro";

import Image from "../Image/index.astro";
import Link from "../Link/index.astro";
import Emphasise from "../Text/Emphasise/index.astro";
---

<header class="w-4/5 mx-auto">
    <Nav />
    <div class="xl:mt-32 mt-8 flex xl:flex-row flex-col xl:items-start items-center justify-evenly xl:space-y-0 space-y-16 xl:space-x-32 w-11/12 mx-auto">
        <div class="flex flex-col items-start space-y-8" style="min-width: 300px">
            <div class="text-5xl font-bold text-white pt-32">
                <h1>
                    Extreme <span class="text-fuchsia-600">DeFi</span>
                </h1>
                <h1 class="text-6xl">Leveraging</h1>
            </div>
            <p class="text-xl text-neutral-400 font-medium w-11/12">
                Torque provides clients with huge amounts of <Emphasise>leverage</Emphasise> and
                <Emphasise>liquidity providing</Emphasise> rewards for the most popular cryptocurrencies whilst being 
                <Emphasise>100% decentralized and permissionless</Emphasise>.
            </p>
            <Link href="https://app.torque.money/">
                Get Started
            </Link>
        </div>
        <Image src="/assets/APP.png" width="800" />
    </div>
</header>