---

---

<nav class="flex items-center justify-between py-4">
    <a>
        <img src="/assets/LOGO.png" width="175" alt="Torque" />
    </a>
    <ul class="text-white text-2xl font-medium flex items-center justify-evenly space-x-10">
        <li>
            <a href="https://linktr.ee/torque_money">Links</a>
        </li>
        <li>
            <a class="bg-fuchsia-700 hover:bg-fuchsia-600 px-6 py-3 rounded-xl font-bold glow" href="https://app.torque.money/">
                App
            </a>
        </li>
    </ul>
</nav>