---
import Link from "../../Link/index.astro";
import NavLink from "./NavLink/index.astro";

import Image from "../../Image/index.astro";
---

<nav class="flex items-center justify-between py-4">
    <a>
        <Image src="/assets/LOGO.png" width="175" />
    </a>
    <ul class="flex items-center justify-evenly space-x-10">
        <li>
            <NavLink href="https://linktr.ee/torque_money">Links</NavLink>
        </li>
        <li>
            <Link href="https://app.torque.money/">App</Link>
        </li>
    </ul>
</nav>