---
const CONNECT_URL = "https://linktr.ee/torque_money";
const APP_URL = "https://app.torque.money/";
---


<footer class="w-4/5 mx-auto">
    <ul class="text-neutral-400 text-lg font-medium flex items-center justify-start space-x-10 pb-6 pt-10">
        <li>
            <a href={CONNECT_URL}>Links</a>
        </li>
        <li>
            <a href={APP_URL}>App</a>
        </li>
    </ul>
</footer>