---
import FooterLink from "../Link/FooterLink/index.astro";

import config from "../../../astro.config.mjs";

// @ts-ignore
const {misc} = config;
---

<footer class="w-4/5 mx-auto">
    <ul class="flex items-center justify-start space-x-10 pb-6 pt-10">
        <li><FooterLink href={misc.connectURL} name="Links">Links</FooterLink></li>
        <li><FooterLink href={misc.appURL} name="App">App</FooterLink></li>
    </ul>
</footer>