---
import "../styles/body.css";

import HeadContents from "../components/HeadContents/index.astro";
---

<html lang="en">
	<head>
        <HeadContents />
	</head>
	<body>
        <slot />
	</body>
</html>