---
import {logEvent} from "../../../../scripts/analytics";

const {href} = Astro.props;
const pagePath = Astro.request.url;
---

<a class="text-white text-2xl font-medium " href={href} onclick={
    () => logEvent("link_click", undefined, pagePath + "_to_" + href)
}>
    <slot />
</a>